language: node_js
node_js:
  - stable
branches:
  only:
  - master
  - Dev
cache:
  directories:
    - ~/.npm
    - .jest
install:
  - yarn
before_script:
  - npm install -g npm@latest
  - npm install
  - npm install jest-expo
  - npm install -g expo-cli
script:
  - npm ci
  - npx jest --ci
stages:
- name: ci test
  if: branch = Dev
- name: build
  if: branch = master
jobs:
  include:
    - stage: ci test
      node_js: stable
      script:
        - npm ci
    - stage: build
      node_js: stable
      script:
        - npm ci
        - npx expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
        - npx expo build:android --type apk-bundle
        - npx expo build:android --type apk-bundle