language: node_js
node_js:
  - stable
branches:
  only:
  - master
  - Dev
  - /^test-.*$/
cache:
  directories:
    - ~/.npm
    - .jest
install:
  - yarn
before_script:
  - npm install -g npm@latest
  - npm install
script:
  - npm ci
stages:
- name: ci test dev
  if: branch = master
- name: ci test branchs
  if: branch =~ /^test-.*$/
- name: build
  if: branch = master
jobs:
  include:
    - stage: ci test dev
      node_js: stable
      script:
        - npx jest --ci
    - stage: ci test branchs
      node_js: stable
      script:
        - npx jest --ci
    - stage: build
      node_js: stable
      before_script:
        - npm install jest-expo
        - npm install -g expo-cli
      script:
        - npm test
        - npx expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
        - npx expo build:android --type app-bundle
        - npx expo build:ios --type archive